html {
    background-color: url(Image_1.jpg);
    min-height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-position: left;
    margin-top: 150px;
    
  }

  body {
    background-image:url(Image_1.jpg);
    background-repeat: no-repeat;
  background-attachment: fixed;}
  
  input[type="text"] {
    font-family: times;
    font-size: 15px;
   
  }
  .autocomplete {
    color: white !important;
        -moz-border-radius: 15px;
        border-radius: 15px;
  }
  
  ::placeholder {
    font-family: times;
    font-size: 15px;
  }
  
  #col1 {
    opacity: 0;
  }
  
  .column {
    float: left;
    width: 33.33%;
    text-align: center;
    }
    
    
    #col2 {
      background: linear-gradient(120deg,#3C0908 0%, #B44240 100%);
      border-radius: 25px;
      margin-top: 50px;
      padding-bottom: 2%;
      min-width: 500px;
      max-width:550px;
      max-height: 250px;
      min-height: 250px
      
  
    }
  
    #col3 {
      opacity: 0;
    }
    p {
      
        position: relative;
        color: white;
        font-size: 50px;
        text-align: center;
        
        text-decoration: none;
        top: -30px;
        line-height: 25px;
        border-radius: 4px;
      }
  
    #Return {
      
      padding-right: 30px;
      background-color: rgb(72,164,210); 
      border-radius: 25px;
      width: 180px;
      height: 30px;
      margin-top: 5%;
      text-align: center;
      display:inline-block;
      color: white;
      font-family: times;
      font-size: 16px;
      justify-content: space-between;

      
      
    }
    
    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }